<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmmthaiIDj4-zuXRF_In8O6Fm25Emb7aI</string>
	<key>GCM_SENDER_ID</key>
	<string>615619581445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netcritech.apps.quenetur</string>
	<key>PROJECT_ID</key>
	<string>quenetur</string>
	<key>STORAGE_BUCKET</key>
	<string>quenetur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615619581445:ios:283cee7d88b7c96448ae6c</string>
</dict>
</plist>